<h1>List of your wishes</h1>
<% @wishes = Wish.order("rating DESC") %>
<%  if (@wishes.size != 0)  %>
<%@wishes.each do |w| %>
    <p><%= link_to w.name, edit_wish_path(w)  %>, URL:  <%= w.url %></p>
<% end %>

<% else %>
    <p>Your list is empty</p>
<% end %>
