<p>Чтобы добавить желание введите название или ссылку</p>
<form method="post">
  <input type="text" name="search_field" style="width: 200px">
  <input type="submit" name="search_submit" value="Поиск">
</form>