


<%= image_tag(@friend.vk_avatar_url, :class => 'FriendAvatar')%>
<div class="FriendInformation">

  <%= render 'layouts/friend_info'  %>
</div>
  <div class="row">
    <div class="col1of2">
      <div>
        <p>
          <%= image_tag(@wish.image, :border => 0)  %>
        </p>
      </div>
    </div>
    </div>












