
<%= image_tag(@friend.vk_avatar_url, :class => 'FriendAvatar')%>
<div class="FriendInformation">

  <%= render 'layouts/friend_info'  %>

<p>
  <% if @friend.is_user == true %>
  <br />
      <%  if (@wishes.size != 0)  %>
          <div id="container">
            <%@wishes.each do |w| %>
                <%= link_to image_tag(w.image, :border => 0, :class => 'item'), w %>
            <% end %>
          </div>
      <% else %>
          <p>Список желаний пуст</p>
      <% end %>

  <% else%>
    Этот человек не зарегистрирован в системе
  <% end %>
</p>
</div>



