
<h1><%= @title %></h1>
<div class="slider">
  <div class="wrapper">
    <div id="slides">
      <div class="slides_container">
        <div>
            <%= image_tag("1.png") %>
        </div>
        <div>
          <%= image_tag("2.png") %>
        </div>
        <div>
          <%= image_tag("3.png") %>
        </div>
      </div>
    </div>
  </div>
</div>

