<h1>This is a <%= @title %> page </h1>
<h2>Please, login before using our application</h2>
<ul>
  <li>
    Site description
  </li>
  <li>
    Site description
  </li>
  <li>
    Site description
  </li>
</ul>

