<script type="text/javascript">
  window.close();
  window.opener.location = '<%= root_path %>';
</script>
<h1>This is a <%= @title %> page </h1>
<h2>Welcome on our site</h2>
<ul>
  <li>
    Site description
  </li>
  <li>
    Site description
  </li>
  <li>
    Site description
  </li>
</ul>
