<h1>This is a <%= @title %> page </h1>
<ul>
  <li>
    Site description
  </li>
  <li>
    Site description
  </li>
  <li>
    Site description
  </li>
</ul>
<p>Go to <%= link_to 'Person', '/person' %> page</p>