html
  height: 100%

body
  width: 960px
  height: 100%
  font: 13px arial, sans-serif
  margin: 0 auto


footer
  color: black
  font: 13px verdana
  height: 65px
  width: 960px
  display: inline-block

.wrapper
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -65px

.pusher
  height: 65px
  width: 960px

.h1
  color: #000
  font: 24px arial

.h2
  color: #1d6edb
  font: bold 18px arial

.h3
  color: #1d6edb
  font: 16px arial

/* HEADER*/

.logo
  width: 152px
  height: 50px

nav 	
  margin: 20px 0 0 10px

.link1
  margin-right: 3px
  padding: 2px 2px
.link1:hover
  color: #0da918
  text-decoration: none

.current_page_link
  margin-right: 3px
  padding: 2px 2px
  text-decoration: underline
  background: url(asset_path("nav_bg1.png", image)) no-repeat
  color: #000
  text-decoration: none
.current_page_link:hover
  margin-right: 3px
  padding: 2px 2px
  text-decoration: underline
  background: url(asset_path("nav_bg1.png", image)) no-repeat
  color: #000
  text-decoration: none

.link2
  margin-right: 3px
  padding: 2px 2px
.link2:hover
  background: url(asset_path("nav_bg2.png", image)) no-repeat
  color: #000
  text-decoration: none

.link3
  margin-right: 3px
  padding: 2px 2px
.link3:hover
  background: url(asset_path("nav_bg3.png", image)) no-repeat
  color: #000
  text-decoration: none

.link4
  padding: 2px 2px
.link4:hover
  background: url(asset_path("nav_bg4.png", image)) no-repeat
  color: #000
  text-decoration: none

.avatar
  float: right

.name
  float: left
  margin-top: 22px
  padding-left: 10px

.photo
  width: 50px
  height: 50px
  float: left
  margin: -18px 4px 0 0

.exit
  width: 21px
  height: 21px
  float: right
  margin: 20px 0 0 4px
  padding-left: 0px

.polosa
  width: 960px
  height: 18px
  background: url(asset_path("polosa.png", image))
  display: inline-block


.polosaF
  width: 960px
  height: 13px
  background: url(asset_path("polosaF.png", image))

.contacts
  float: right

.contacts .adminmywish
  width: 167px
  height: 33px
  background: url(asset_path("adminmywish.png", image))
  float: left
  margin-right: 10px

.contacts .vkontakte
  float: left
  margin-right: 10px

/*Slider*/
.slider
  height: 424px

.slides_container
  width: 970px
  height: 424px
  padding-top: 10px

.slides_container div
  width: 970px
  height: 424px
  display: block

.pagination
  float: right
  list-style: none

.pagination li
  float: left
  margin: 0 1px

.pagination li a
  display: block
  width: 13px
  height: 0
  padding-top: 13px
  background-image: url(asset_path("pagination.png", image))
  float: left
  overflow: hidden

.pagination li.current a, .pagination li.current a:hover
  background-position: 0 -13px

.pagination li a:hover
  background-position: 0 -26px







