body
  width: 960px
  height: 100%
  margin: 0 auto

footer
  color: black
  font: 13px verdana

.h1
  color: black
  font : bold 24px arial

.h2
  color: #1d6edb
  font: bold 18px arial

.logo
  width: 152px
  height: 50px

nav 	
  margin: 20px 0 0 -30px

.link
  margin-right: 10px
.link:hover
  color: black
  text-decoration: none

.photo
  width: 36px
  height: 36px
  margin-top: 10px
  background: url(asset_path("avatar.png", image))
  float: left

.avatar
  float: right

.avatar .name
  float: left
  margin-top: 20px
  padding-left: 10px

.exit
  width: 21px
  height: 21px
  float: left
  margin: 20px 0 0 10px

.polosa
  width: 960px
  height: 18px
  background: url(asset_path("polosa.png", image))

.polosaF
  width: 960px
  height: 13px
  background: url(asset_path("polosaF.png", image))

.contacts
  float: right

.contacts .adminmywish
  width: 167px
  height: 33px
  background: url(asset_path("adminmywish.png", image))
  float: left
  margin-right: 10px

.contacts .vkontakte
  float: left
  margin-right: 10px








