.pole
  margin: 20px 0 0 165px

.searchText
  text-align: center

.searchField
  width: 100%
  float: left
  height: 29px
  margin: 0 -5px 0 0


.searchButton
  background: url(asset_path("search.png", image))
  border: none
  cursor: pointer
  height: 29px
  width: 74px

/* Временная подсветка валидации полей  */
span
  background-color: #FF0000
